@use "../global" as global;

header{
  background: #FFF;
  height: 100px;
  @include global.mq('sp') {
    height: 60px;
  }
}

.header__inner{
  background: #FFF;
  padding: 16px;
  height: 100px;
  position: fixed;
  z-index: 100;
  
  @include global.mq("sp") {
    height: 60px;
    padding: 11px 20px;
    display: flex;
    align-items: center;
  }
  @include global.mq("tab") {
    display: flex;
    align-items: center;
  }

  width: 100%;
  // width: global.$header-width;
  margin: 0 auto;
  display: flex;
  align-items:center
  
}

.header__title{
  flex: 1;
  font-size: 40px;
  min-width: 282px;
  color: global.$main-color;
  
  @include global.mq(sp) {
    font-size: 28px;
    min-width: 198px;
  }
}

.header__nav{
  display: flex;
  width: 478px;
  margin-left: 10px;
  justify-content: space-between;

  @include global.mq("tab") {
    display: none;
  }
  @include global.mq("sp") {
    display: none;
  }

  position: relative;
  font-size: 14px;

  :nth-child(n + 2){
    // margin-left: 46px;

    &::before{
      position: absolute;
      content: "／";
      transform:translate(-24px, -1px);

    }
  }
}

.header__btn-box{
  margin-left: 32px;
  display: flex;

  @include global.mq("tab") {
    display: none;
  }
  @include global.mq("sp") {
    display: none;
  }

  a{
    width: 176px;
    font-size: 14px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.contact__btn{
  margin-left: 10px;
}

//ハンバーガーメニュー
.header-menu-hamburger{
  width: 27px;
  height: 16px;
  
  @include global.mq("pc") {
    display: none;
  }
}

.header-hamburger-item{
  width: 27px;
  height: 16px;
  position: relative;

  & span{
    background-color: global.$main-color;
    display: inline-block;
    position: absolute;
    height: 2px;
    width: 27px;
    transition: all .4s;
    }

    
    //上
    & span:nth-of-type(1){
      top:0px;
    }

    //真ん中
    & span:nth-of-type(2){
      top:8px;
    }

    //下
    & span:nth-of-type(3){
      top: 16px;
    }
  }

.header-hamburger-item{
  &.active{
    & span:nth-of-type(1){
      transform: translateY(8px) rotate(-45deg);
  }
    & span:nth-of-type(2){
      opacity: 0;
  }
    & span:nth-of-type(3){
      transform: translateY(-8px) rotate(45deg);
  }
  } 
}


  //drawer
  .header-drawer-nav{
    display: none;
    @include global.mq('tab') {
      display: block;
      width: 100%;
      height: 100%;
      
      position: fixed;
      z-index: 100;//前面に出す
      top: 100px;//header分
      right: -120%;//右側に隠す
      background-color: global.$main-color;
      transition: all 0.6s;
      &.active{
        right: 0;//アクティブクラスが付いたら現れる
      }
    }
    
    @include global.mq('sp') {
      display: block;
      top: 60px;
      &.active{
        right: 0;//アクティブクラスが付いたら現れる
      }
    }

  }


  //ドロワー画面
  .header-drawer-wrapper{
    text-align: center;
    display: flex;
    padding: 60px 40px;
    flex-direction: column;

    //メニュー
    & .header__list{
      color: global.$text-color-type2 ;
      font-weight: 300;

      &:hover{
        opacity: 0.8;
      }
    }
    //資料ダウンロード
    & .download__btn{
      color: global.$text-color-type2 ;
      background-color: transparent;
      border: global.$text-color-type2 1px solid;
      padding-top: 22px;
      padding-bottom: 22px;
      
      &:hover{
        background-color: global.$main-bold-color;
      }
    }

    //お問い合わせ
    & .contact__btn{
      color: global.$main-color ;
      background-color: global.$text-color-type2;
      border: global.$text-color-type2 1px solid;
      padding-top: 22px;
      padding-bottom: 22px;

      &:hover{
        color: global.$text-color-type2 ;
        background-color: global.$main-color;
      }
    }

    a{
      &:nth-child(n + 2){
        margin-top: 40px;
      }
    }
  }
