@use "../global" as global;

/* ========================
header-top修正
======================== */
.news-top{
  background: url(../img/lower-mv-decoration_pc.png) no-repeat left/365px, url(../img/mv-news_pc.png) no-repeat center/cover;
  
  @include global.mq('sp') {
    background: url(../img/lower-mv-decoration_sp.png) no-repeat left/165px, url(../img/mv-news_sp.png) no-repeat center/cover;
}
}

.news__page{
  display: flex;
  justify-content: space-between;
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 10px;
  
  @include global.mq('sp') {
    max-width: calc(100% - 10px);
    display: block;
  }
}

.news__page__front{
  max-width: 760px;
  width: 100%;
  margin: 80px auto 0px 0px;
}

.news__page__front-title{
  font-weight: 700;
  font-size: 32px;
  line-height: 46px;
  
  @include global.mq('sp') {
    font-size: 20px;
    line-height: 29px;
  }
}

.news__page__wrapper{
  margin-top: 25px;
}

.news__page__content{
  max-width: 760px;
  width: 100%;
  display: flex;
  gap: 20px;
  
  @include global.mq('sp') {
    gap: 12px;  
  }

  &:nth-child(n + 2){
    margin-top: 40px;
    
    @include global.mq('sp') {
      margin-top: 20px;
    }
  }
}

.news__page__content__image{
  width: 250px;
  height: 156px;
  
  @include global.mq('sp') {
    width: 120px;
    height: 90px;  
  }
  
  img{
    width: 250px;
    height: 156px;

    @include global.mq('sp') {
      width: 120px;
      height: 90px;  
    }

  }
}

.news__page__content__about{
  max-width: calc(100% - 250px);
  width: 100%;
  
  @include global.mq('sp') {
    max-width: calc(100% - 132px);

  }
}

.news__page__content__bar{
  display: flex;
  align-items: center;

  @include global.mq('sp') {
  justify-content: space-between;
  height: 26px;
  }
}

.news__content__bar__new{
  flex: 1;
  width: 36px;
  margin-left: 12px;
  
  @include global.mq('sp') {
    font-size: 14px;
    margin-left: 8px;
  }
}

.news__page__content__title{
  margin-top: 16px;
  
  @include global.mq('sp') {
    font-size: 14px;
    line-height: 1.42;
    margin-top: 6px;
    height: 60px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
}

/* ========================
ページネーション
======================== */

.news__page__pageNation{
  margin-top: 60px;
  margin-bottom: 180px;
}

.news__page__pageNation__numberBox{
  display: flex;
  justify-content: space-between;
  max-width: 422px;
  width: 100%;
  margin: 0 auto;
}

.news__page__pageNation__btn{
  width: 50px;
  height: 50px;
  padding: 13px 20px;
  text-align: center;
  background-color: #F8F8F8;
  
  &.active{
    background-color: global.$main-color;
    color: #FFF;
  }
  
  @include global.mq('sp') {
    width: 40px;
    height: 40px;
    padding: 8px 15px;
  
  }
}

//戻る・次ボタン
.pageNation_arrow{
  text-align: center;

  img{
    width: 7.5px;
    height: 13px;
    transform: translateY(-50%);
  }
  
}

//戻るボタン
.pageNation_prev{
  margin-right: 12px;
  
  @include global.mq('sp') {
    margin-right: 0px;
  }
}

//次ボタン
.pageNation_next{
  margin-left: 12px;
  
  @include global.mq('sp') {
    margin-left: 0px;
  }
}



