@use "../global" as global;

.sidebar{
  width: 300px;
  margin-top: 80px;
  padding-left: 10px;
  
  @include global.mq('sp') {
    width: 100%;
    padding-left: 0px;
  }
}

/* ========================
新着記事
======================== */

.newPost__page__content{
  display: flex;
  margin-top: 16px;
  
  @include global.mq('sp') {
    margin-top: 20px;
  }
}

.newPost__page__content__image{
  width: 100px;
  height: 100px;
  
  @include global.mq('sp') {
    width: 120px;
    height: 90px;
  }
  
  img{
    width: 100px;
    height: 100px;

    @include global.mq('sp') {
      width: 120px;
      height: 90px;
    }
  }
}

.newPost__page__content__about{
  width: 190px;
  margin-left: 10px;

  @include global.mq('sp') {
    max-width: calc(100% - 132px);
    width: 100%;
  }
}

.newPost__page__content__bar{
  display: flex;
  justify-content: space-between;
}

.newPost__page__content__title{
  font-size: 14px;
}

/* ========================
カテゴリ
======================== */

.sidebar__category{
  margin-top: 80px;
  
  @include global.mq('sp') {
    margin-top: 60px;
  
  }
}

.sidebar__category__title{
  font-size: 20px;
  font-weight: 700;
}

.sidebar__category__box{
  display: flex;
  align-items: center;
  padding: 16px 0px 16px 20px;
  border-bottom: #DDDDDD 1px solid;
}

.sidebar__category__box__text{
  font-weight: 700;
}


.sidebar__category__firstBox{
  margin-top: 16px;
  border-top: #DDDDDD 1px solid;
}


.sidebar__category__box__mark{
  width: 9px;
  height: 16px;
  position: relative;
  
  img{
    position: absolute;
    top: 0;
    left: 0;
    width: 9px;
    height: 16px;
  }
}

.sidebar__category__box__text{
  margin-left: 9.5px;
}




