@use "../global" as global;

/* ========================
header-top修正
======================== */
.service-top{
  background: url(../img/lower-mv-decoration_pc.png) no-repeat left/365px, url(../img/mv-service_pc.png) no-repeat center/cover;
  
  @include global.mq('sp') {
    background: url(../img/lower-mv-decoration_sp.png) no-repeat left/165px, url(../img/mv-service_sp.png) no-repeat center/cover;
}
}


.p-header__service__subtitle{
  width: 80px;

@include global.mq('sp') {
  width: 64px;
}
}

/* ========================
header-main
======================== */

.service__main__sentence{
  margin-top: 80px;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  
  @include global.mq('sp') {
    margin-top: 60px;
    font-size: 20px;
  }
}

.service__main__page{
  margin-top: 80px;
  @include global.mq('sp') {
  
    margin-top: 60px;
  }
}

.service__main__section{
  // display: flex;
  max-width: 1090px;
  width: 100%;
  &:nth-child(1){
    background: url(../img/img-service-detail01.png) no-repeat right bottom / 560px 896px;
  }
}

.service__section__card{
  box-shadow: 0px 3px 12px #00000029;
  background: #FFF; 
  max-width: 590px;
  width: 100%;
  padding: 80px 40px 60px 40px;
  
  @include global.mq('sp') {
    padding: 40px 20px;
  }
}

.service__card-title-section-title{
  font-size: 40px;
  font-weight: 700;

  @include global.mq('sp') {
    font-size: 28px;
    
  }
}

.service__card-subtitle{
  color: global.$main-color;
  @include global.mq('sp') {
  font-size: 14px;
}
}

.service__card-sentence{
  margin-top: 60px;
  font-size: 14px;
  @include global.mq('sp') {
    margin-top: 32px;
  }
}

.service__card-table{
  margin-top: 60px;
  font-size: 14px;
  @include global.mq('sp') {
    margin-top: 32px;
  }
}

.service__card-table-row{
  display: flex;
  padding-top: 33px;
  padding-bottom: 33px;
  border-bottom: #CCCCCC 1px solid;

  &:nth-child(1){
    border-top: #CCCCCC 1px solid;
  }
}

.service__card-table-detail{
  margin-left: 48px;
}

.service__card-apply{
  max-width: 304px;
  width: 100%;
  margin: 60px auto 0 auto;
  
  @include global.mq('sp') {
    max-width: 295px;
  }
}