footer
  .footer__inner
    .footer__order-box
      .footer__download-box.order-box-type
        .order-box-content
          .order-box-title
            p.order-box-main-title.c-english-title DOWNLOAD
            p.order-box-sub-title 資料ダウンロード
          .order-box
            a.btn-view-more.c-english-title View more
      .footer__contact-box.order-box-type
        .order-box-content
          .order-box-title
            p.order-box-main-title.c-english-title CONTACT
            p.order-box-sub-title お問い合わせ
          .order-box
            a.btn-view-more.c-english-title View more

    .footer-menu
      .footer-menu__title.
       Global Standard
      .footer-menu__address
        .address-name 〒550-1000 大阪市西区土佐堀9-5-5
        .address-info
          .address-tell TEL 06-123-4567
          .address-fax FAX 06-123-4568
      .footer-copyright
        .footer-copyright-sentence ©︎2021 Global Standard. All Rights Reserved.

      .to-top-btn

