block value
doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title #{title}
    meta(name="description" content=description)

    //Font
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,400;1,500;1,700;1,900&family=Noto+Sans+JP:wght@300;400;500;700;900&family=Roboto:ital,wght@1,700&display=swap" rel="stylesheet")

    //CSS
    link(rel="stylesheet" href=`${cssPath}/assets/css/style.css`)

    //Swiper
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css")
    
  body
    include ../parts/_header.pug

    block mainVisual

    block content

    include ../parts/_footer.pug