@use "../global" as global;

.c-view-more-link{
  display: flex;
  margin-top: 3px;
  
  @include global.mq('sp') {
    margin-top: 32px;
  }
}

.c-view-more-sentence-type2{
  color: global.$text-color-type1;
  @include global.mq('sp') {
    color: global.$main-color;
    font-size: 20px;
  }
  font-size: 32px;
}

.c-view-more-arrow-box-type2{
width: 140px;
text-align: left;
margin-left: 13px;
margin-top: 14px;
position: relative;

&::after{
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: global.$accent-color-type1;
  
  position: absolute;
  z-index: -1;
  top: -14px;
  left: 68px;
}

@include global.mq('sp') {
  width: auto;
  &::after{  
      width: 40px;
      height: 40px;
      position: absolute;
      z-index: -1;
      top: -16px;
      left: 49px;
    }
  }
}

//矢印
.c-view-more-arrow-type2{
  display: inline-block;
  margin-bottom: 4px;
  width: 95px;
  height: 7px;

  border-bottom: 2px global.$text-color-type1 solid;
  border-right: 2px global.$text-color-type1 solid;
  transform: skew(45deg);
  transition: all 0.5s 0s ease; 


  @include global.mq('sp') {
    width: 65px;
    height: 10px;
    margin-bottom: 20px;
    border-bottom: 2px global.$main-color solid;
    border-right: 2px global.$main-color solid;
  }
}

//リンクをhoverした時、矢印伸びる
.c-view-more-link:hover .c-view-more-arrow-type2{
  width: 100%;
  @include global.mq('sp') {
    width: 65px;//スマホ版ではアニメーション不要（widthそのまま）
  }
} 